.about {
  text-align: center;
}

.about__title {
  font-size: 36px;
  color: #333333;
  margin-bottom: 40px;
  font-weight: bold;
}

.about-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.about-list__item {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-list__item:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px #0089f7;
}

.about-list__item svg {
  width: 70px;
  height: 70px;
  fill: #000000;
}

.about-list__text {
  font-size: 18px;
  color: #555555;
  line-height: 1.6;
}
