.word-scramble__title {
  font-size: 36px;
  color: #333333;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

.word-scramble__content {
  display: block; /* Ensure the content is displayed from the start */
  margin: 25px 20px 35px;
}

.word-scramble__word {
  user-select: none;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 24px;
  margin-right: -24px;
  word-break: break-all;
  text-transform: uppercase;
}

.word-scramble__details {
  margin: 25px 0 20px;
}

.word-scramble__hint {
  font-size: 18px;
  margin-bottom: 10px;
}

.word-scramble__hint span {
  font-weight: 500;
}

.word-scramble__input {
  width: 96.5%;
  height: 60px;
  outline: none;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

.word-scramble__input:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.word-scramble__input::placeholder {
  color: #aaa;
}

.word-scramble__input:focus::placeholder {
  color: #bfbfbf;
}

.word-scramble__buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.word-scramble__btn {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  width: calc(100% / 2 - 8px);
  transition: all 0.3s ease;
}

.word-scramble__btn:active {
  transform: scale(0.97);
}

.refresh-word {
  background: #000000;
}

.refresh-word:hover {
  background: #0089f7;
}

.check-word {
  background: #0089f7;
}

.check-word:hover {
  background: #000000;
}

.score-area {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
