<div class="container">
  <h2 class="word-scramble__title">Word Scramble Game</h2>
  <div class="word-scramble__content">
    <p class="word-scramble__word"></p>
    <div class="word-scramble__details">
      <p class="word-scramble__hint">Hint: <span></span></p>
    </div>
    <input
      type="text"
      class="word-scramble__input"
      spellcheck="false"
      placeholder="Enter a valid word"
    />
    <div class="word-scramble__buttons">
      <button class="word-scramble__btn refresh-word">Refresh Word</button>
      <button class="word-scramble__btn check-word">Check Word</button>
    </div>
    <div class="score-area">
      <span>Score: </span><span class="word-scramble__score">0</span>
    </div>
  </div>
</div>
